.clear{clear: both;}
html, body{
	font-family: 'Open Sans', sans-serif;
	background: #F3F3F3;
	font-size: 100%;
}
body a{
 	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.header {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: url(../images/banner11.jpg)no-repeat center top;
	background-size: 100% 100%;
	padding:5% 0 0 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
}
.header-text{
	background:rgba(33, 191, 252, 0.85);
	width:48%;
	padding:2%;
	border-bottom:5px solid #02b6fc;
}
.header-text h1{
	color:#fff;
	font-size:3.6em;
	text-shadow: -1px 0px 1px rgba(214, 214, 214, 0.59);
	-webkit-text-shadow: -1px 0px 1px rgba(214, 214, 214, 0.59);
	-moz-text-shadow: -1px 0px 1px rgba(214, 214, 214, 0.59);
	-o-text-shadow: -1px 0px 1px rgba(214, 214, 214, 0.59);
	text-transform:uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	margin:0;
}
.header-text h2{
	color: #FFF;
	font-size: 1.7em;
	text-shadow: -1px 0px 1px rgba(214, 214, 214, 0.59);
	-webkit-text-shadow: -1px 0px 1px rgba(214, 214, 214, 0.59);
	-moz-text-shadow: -1px 0px 1px rgba(214, 214, 214, 0.59);
	-o-text-shadow: -1px 0px 1px rgba(214, 214, 214, 0.59);
	text-transform: uppercase;
	font-weight: 100;
	margin: 10px 0 5px 0;
}
.header-text p{
	color:#fff;
	font-size:0.85em;
	line-height:1.5em;
	font-weight:100;
	width:80%;
	margin-bottom:5%;
}
.banner_btn{
	text-align:center;
}
.banner_btn a{
	background: none;
	font-size: 1em;
	padding:9px 30px;
	color: #FFF;
	cursor: pointer;
	outline: none;
	-webkit-appearance: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	text-transform: uppercase;
	font-weight: 100;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border: 1px solid #FFF;
}
.banner_btn a:hover{
	background:rgba(255, 255, 255, 0.35);
	color:#000;
	text-decoration: none;
}
.header-arrow{
	text-align:center;
	padding:16% 0 5% 0;
}
.header-arrow a span {
	width:209px;
	height: 50px;
	display: inline-block;
	background: url(../images/img-sprite.png) no-repeat 0px 0px;
	vertical-align: middle;
}
.header-bottom_left {
	float: left;
}
.header-bottom {
	background: #00BFF0;
	padding:10px 0 5px 0;
}
i.phone {
	background: url(../images/img-sprite.png) no-repeat -220px -8px;
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 10px;
}
.header-bottom_left span {
	color: #C0EEFF;
	font-size: 0.85em;
}
.social{
	float: right;
}
.social ul{
	margin:0;
	padding:0;
}
.social ul li:first-child, ol li:first-child {
	margin-top: 0px;
	margin-left: 0;
}
.social li {
	background: none;
	display: inline-block;
}
li.facebook a span {
	height: 25px;
	width: 25px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -250px -10px;
}
li.facebook a span:hover{
	background: url(../images/img-sprite.png)no-repeat -8px -207px #FFF;
}
li.twitter a span {
	height: 25px;
	width: 25px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -276px -10px;
}
li.twitter a span:hover{
	background: url(../images/img-sprite.png)no-repeat -33px -207px #FFF;
}
li.pinterest a span {
	height: 25px;
	width: 25px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -304px -10px;
}
li.pinterest a span:hover{
	background: url(../images/img-sprite.png)no-repeat -63px -207px #FFF;
}
li.google a span {
	height: 25px;
	width: 25px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -332px -10px;
}
li.google a span:hover{
	background: url(../images/img-sprite.png)no-repeat -91px -207px #FFF;
}
li.tumblr a span {
	height: 25px;
	width: 25px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -361px -10px;
}
li.tumblr a span:hover{
	background: url(../images/img-sprite.png)no-repeat -119px -207px #fff;
}
li.instagram a span {
	height: 25px;
	width: 25px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -389px -10px;
}
li.instagram a span:hover{
	background: url(../images/img-sprite.png)no-repeat -146px -207px #fff;
}
li.rss a span {
	height: 25px;
	width: 25px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -418px -10px;
}
li.rss a span:hover{
	background: url(../images/img-sprite.png)no-repeat -176px -207px #fff;
}
.menu{
	padding: 2% 0 1.8% 0;
	background: #72D0F4;
	z-index: 9999;
	width: 100%;
	clear: both;
}
.logo{
	float:left;
}
/* start h_menu */
.h_menu4{
	float:right;
}
.toggleMenu {
    display:  none;
    background:#00BFF0;
    padding: 10px 15px;
    width: 100%;
    color: #fff;
}
.nav {
    list-style: none;
     *zoom: 1;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width:12em;
}
.nav li a {
	display: block;
	padding:9px 20px;
	color: #fff;
	font-size:0.85em;
	text-transform:uppercase;
	font-weight:400;
	margin-right: 10px;
	border:1px solid #72D0F4;
}
.nav li {
    position: relative;
}
.nav li.active a, .nav li a:hover {
	border:1px solid #fff;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	background:#fff;
	color:#00BFF0;
}
.nav > li {
    float: left;
}
.nav > li > a.parent {
   background: url(../images/nav_arrow.png) no-repeat 15px 15px #FFF;
	color: #03B8FD;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border: none;
	padding: 10px 20px 10px 40px;
}
.nav li  ul {
    position: absolute;
    left:-9999px;
   	padding:27px 13px;
    z-index:9999;
}
.nav > li.hover > ul {
    left:-10px;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
    -webkit-transition: background .2s linear;
	-moz-transition: background .2s linear;
	-ms-transition: background .2s linear;
	-o-transition:  background .2s linear;
	transition: background .2s linear;
}
.nav li li a {
	font-size: 0.8725em;
	padding: 10px;
	display: block;
	color: #03B8FD;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	background:#fff;
	position: relative;
	z-index:9999;
	border-top: 1px solid rgba(233, 233, 233, 0.09);
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border:none;
	text-decoration: none;
}
.nav li li li a {
    background:#249578;
    z-index:200;
    border-top: 1px solid #1d7a62;
}
.nav li li a:hover{
	background:#72d0f4;
	color:#fff;
	border-bottom:none;
	border:none;
}
a:hover, a:focus {
	color:#D8F3FD;
	text-decoration:none;
}
/***** Media Quries *****/
@media screen and (max-width: 768px) {
	.h_logo4{
		text-align:center;
		float: none;
		margin: 4% 0;
	}
	.h_menu4{
		float: none;
		margin: 10px 0 0px;
	}
	.toggleMenu {
		padding: 10px 15px;
		width: 96%;
		text-align:center;
	}
	.nav li a {
		padding: 10px 15px;
	}
	.active {
        display: block;
    }
    .nav > li {
        float: none;
    }
    .nav > li > .parent {
        background-position: 95% 50% !important;
    }
   .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }
}
@media screen and (max-width: 640px) {
	.toggleMenu {
		width: 95%;
	}
}
@media screen and (max-width: 480px) {
	.toggleMenu {
		width: 92%;
	}
}
@media screen and (max-width: 320px) {
	.toggleMenu {
		width:100%;
	}
}
/*--main--*/
.content-top{
	padding:3% 0;
	width: 89%;
	margin: 0 auto;
}
.content_left_text {
	padding:10% 0 0 5%;
}
.content_left_text h3 {
	color: #555;
	font-size: 2.7em;
	font-weight: 100;
	margin: 0 0 10px;
}
.content_left_text p {
	color: #999;
	font-size: 0.85em;
	line-height: 1.5em;
}
.content_left_text{
	text-align: center;
}
ul.spinning{
	background:#72d0f4;
	padding:4%;
	list-style: none;
	margin-bottom: 0;
}
ul.spinning li.live{
	float:left;
	font-style:italic;
	text-transform:uppercase;
	color:#fff;
	font-size:1.2em;
	font-weight: 600;
}
span.m_1{
	font-weight:100;
}
ul.spinning li.room{
	float:right;
	color:#fff;
	font-size:0.85em;
	text-transform:uppercase;
	margin-top:3px;
	font-weight: 700;
}
.view {
   overflow: hidden;
   position: relative;
   border-bottom: 5px solid #00bff0;
}
.view .mask,.view .content {
   position: absolute;
   overflow: hidden;
   top:80px;
   left: 130px;
}
.view-fifth img {
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.view-fifth .mask {
  -webkit-transform: translateX(-300px);
   -moz-transform: translateX(-300px);
   -o-transform: translateX(-300px);
   -ms-transform: translateX(-300px);
   transform: translateX(-300px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.view-fifth:hover .mask {
   -webkit-transform: translateX(0px);
   -moz-transform: translateX(0px);
   -o-transform: translateX(0px);
   -ms-transform: translateX(0px);
   transform: translateX(0px);
}
.view1{
   overflow: hidden;
   position: relative;
}
.view1 .mask1,.view1 .content {
   position: absolute;
   overflow: hidden;
   top:130px;
   left:90px;
}
.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background:#00BFF0;
   color: #fff;
   text-transform: uppercase;
  	font-size:0.9em;
}
.info:hover {
   background:#000;
}
.view-fifth1 img {
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.view-fifth1 .mask1 {
  -webkit-transform: translateX(-300px);
   -moz-transform: translateX(-300px);
   -o-transform: translateX(-300px);
   -ms-transform: translateX(-300px);
   transform: translateX(-300px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.view-fifth1:hover .mask1 {
   -webkit-transform: translateX(0px);
   -moz-transform: translateX(0px);
   -o-transform: translateX(0px);
   -ms-transform: translateX(0px);
   transform: translateX(0px);
}	
.about{
	margin-top:7%;
}
h3.m_2{
	text-align:center;
	color:#00BFF0;
	text-transform:uppercase;
	font-size:2em;
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0 0 3%;
}
h3.m_4{
	text-align:center;
	color:#00BFF0;
	text-transform:uppercase;
	font-size:2em;
	font-family: 'Open Sans Condensed', sans-serif;
	font-style:italic;
	margin: 0 0 6%;
}
.classes{
	background:#72d0f4;
	padding:2%;
}
/*---social-icons-----*/
.social-media {
	float:right;
}
.social-media li{
	float:left;
	margin: 0px 4px 0px 0;
	display:inline-block;
}
.social-media li a {
	height:30px;
	width:30px;
	display: block;
}
.social-media li a:hover {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.8;
	-webkit-transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-ms-transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
}
/*--------social simptip--------*/
[data-tooltip] {
	position: relative;
	display: inline-block;
}
[data-tooltip].simptip-position-bottom:before {
	border-top-color:#fff;
}
[data-tooltip].simptip-position-bottom:after {
	background-color:#fff;
	color:#00BFF0;
}
[data-tooltip]:before {
	content: '';
	position: absolute;
	border-width: 6px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0);
}
[data-tooltip]:before, [data-tooltip]:after {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	z-index: 999999;
}
[data-tooltip]:after {
	height:34px;
	padding: 11px 11px 0;
	font-size:0.85em;
	line-height: 11px;
	text-transform:uppercase;
	content: attr(data-tooltip);
	white-space: nowrap;
}
[data-tooltip]:hover, [data-tooltip]:focus {
	background-color: rgba(0, 0, 0, 0);
}
[data-tooltip]:hover:before, [data-tooltip]:hover:after, [data-tooltip]:focus:before, [data-tooltip]:focus:after {
	visibility: visible;
	opacity: 1;
}
.simptip-position-bottom.simptip-movable:before {
	margin-top:30px;
}
.simptip-position-bottom.simptip-movable:after {
	margin-top: -3px;
}
.simptip-position-bottom:before, .simptip-position-bottom:after, .simptip-position-top:before, .simptip-position-top:after {
	left: 32%;
}
.simptip-position-bottom:before, .simptip-position-bottom:after {
	top:-130%;
}
.simptip-position-bottom:after, .simptip-position-top:after {
	margin-left: -18px;
}
.simptip-position-right.simptip-movable:before, .simptip-position-right.simptip-movable:after, .simptip-position-left.simptip-movable:before, .simptip-position-left.simptip-movable:after, .simptip-position-top.simptip-movable:before, .simptip-position-top.simptip-movable:after, .simptip-position-bottom.simptip-movable:before, .simptip-position-bottom.simptip-movable:after {
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	-ms-transition: all .1s linear;
	transition: all .1s linear;
	font-family: 'Open Sans Condensed', sans-serif;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
}
.simptip-position-bottom.simptip-movable:hover:before, .simptip-position-bottom.simptip-movable:hover:after {
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-ms-transform: translateY(10px);
	-o-transform: translateY(10px);
	transform: translateY(10px);
}
/*------------end social simptip----------------*/
.social-media li:nth-child(1) a{
	background: url(../images/img-sprite.png) -44px -73px;
}
.social-media li:nth-child(2) a{
	background: url(../images/img-sprite.png) -84px -74px;
}
.social-media li:nth-child(3) a{
	background: url(../images/img-sprite.png) -118px -75px;
}
.social-media li:nth-child(4) a{
	background: url(../images/img-sprite.png) -152px -74px;
}
ul.cardio{
	float:left;
	margin:8px 0 0 0;
	list-style: none;
	padding:0;
}
i.clock{
	width: 20px;
	height: 20px;
	background: url(../images/img-sprite.png) no-repeat -15px -78px;
	float: left;
}
ul.cardio span{
	color:#fff;
	font-size:0.85em;
	text-transform:uppercase;
	vertical-align:top;
	margin-left: 5px;
}
ul.tooltip{
	float:right;
}
.cardio_list{
	width: 46.5%;
	float: left;
	border-right: 1px solid #B9DEEC;
	padding: 0 3% 0 0;
	margin-right: 3%;
}
.cardio_list1{
	width: 46.5%;
	float: left;
}
.cardio_sublist{
	border-bottom: 1px solid #B9DEEC;
	padding:10px 0;
}
.members{
	background:#00bff0;
	padding:10.3% 0%;
	text-align:center;
}
h4.m_3{
	color: #FFF;
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom:3%;
}
.members p{
	color: #FFF;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 100;
}
.btn1{
	padding-top:10%;
}
.btn1 a {
	background: none;
	font-size: 1em;
	padding:7px 25px;
	color: #FFF;
	cursor: pointer;
	outline: none;
	-webkit-appearance: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	font-weight: 100;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border: 1px solid #FFF;
}
.btn1 a:hover{
	background:#fff;
	color: #00BFF0;
	text-decoration: none;
}
/*--content-middle-botoom--*/
.content_middle_bottom {
	padding-top:7%;
}
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0 auto;
	width:100%;
  	background: #FFF;
}
.nbs-flexisel-item {
	float: left;
	margin:0px;
	padding:0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
	width:180px !important;
}
.course_demo{
	background: #FFF;
	padding:0% 3% 0 3%;
}
.nbs-flexisel-item img {
	  width: 100%;
	  cursor: pointer;
	  positon: relative;
	  max-width: 110px;
	  max-height:110px;
	  margin-top:25px;
	  margin-bottom: 10px;
	  display:inline;
	  border-radius:100px;
}
/*** Navigation ***/
.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
  width:50px;
  height:50px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
}
.nbs-flexisel-nav-left {
  	left:-30px;
  	background: url(../images/img-sprite.png) -184px -66px no-repeat;
}
.nbs-flexisel-nav-right {
  	right:-26px;
 	background: url(../images/img-sprite.png)-244px -66px no-repeat;
}
.desc{
	padding:10px 0 20px;
	width:80%;
}
.desc h3{
	text-align:center;
	line-height:20px;
	color:#00BFF0;
	font-size:1em;
	font-weight:600;
	text-transform:uppercase;
	margin-bottom: 10px;
}
span.m_text{
	font-style:italic;
	font-weight:100;
}
.desc p{
	color: #000;
	font-size: 0.8125em;
	font-style: italic;
	line-height:15px;
	text-align: center;
	margin-bottom: 10px;
}
i.heart1{
	background: url(../images/img-sprite.png)no-repeat -303px -76px;
	width: 20px;
	height: 25px;
	display: inline-block;
	cursor:pointer;
}
i.like{
	background: url(../images/img-sprite.png)no-repeat -350px -75px;
	width: 20px;
	height: 25px;
	display: inline-block;
	cursor:pointer;
}
i.twt{
	background: url(../images/img-sprite.png)no-repeat -390px -76px;
	width: 20px;
	height: 25px;
	display: inline-block;
	cursor:pointer;
}
i.fb{
	background: url(../images/img-sprite.png)no-repeat -432px -77px;
	width: 20px;
	height: 25px;
	display: inline-block;
	cursor:pointer;
}
i.heart2{
	background: url(../images/img-sprite.png)no-repeat -18px -136px;
	width: 20px;
	height: 25px;
	display: inline-block;
}
i.like1{
	background: url(../images/img-sprite.png)no-repeat -59px -136px;
	width: 20px;
	height: 25px;
	display: inline-block;
	cursor: pointer;
}
.coursel_list{
	float:left;
}
.coursel_list1{
	float:right;
}
.events{
	background:#a5e5fe;
	padding:5%;
}
ul.event1{
	width: 34%;
	float: left;
	padding:0;
	margin:0;
}
ul.event1 img{
	max-width:100%;
}
ul.event1_text{
	width:65%;
	float:left;
	text-align:center;
	margin:0;
}
.event1 h4{
	font-size:0.85em;
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
	margin-bottom: 5px;
}
span.m_5{
	color:#ff0000;
	font-size:0.8125em;
	font-weight:bold;
}
ul.event1_text h4{
	font-size:1.2em;
	text-transform:uppercase;
	color:#333;
}
ul.event1_text p{
	color:#333;
	font-size:0.8125em;
	line-height:1.5em;
}
.btn2{
	margin-top:10px;
}
.event-top{
	border-bottom: 1px solid #E0F6FF;
	padding-bottom: 16px;
	margin-bottom: 12px;
}
.btn2 a {
	background: none;
	font-size: 0.8125em;
	padding: 3px 10px;
	color: #F00;
	cursor: pointer;
	outline: none;
	-webkit-appearance: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border: 1px solid #000;
	font-weight: 600;
	text-transform: uppercase;
}
.btn2 a:hover {
	color:#00BFF0;
	text-decoration: none;
}
.blog_events{
	background:#d4d6d6;
	padding:5%;
}
.tab-left1 {
	margin-bottom:5.5%;
	padding: 0;
}
.tab-last1 {
	padding:0;
}
span.tab1-img {
	float: left;
	width:25.5%;
	margin-right:3.6%;
}
span.tab1-img img{
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	display:block;
	max-width: 100%;
}
.tab-text1{
	float: left;
	width:70.5%;
}
.tab-text1 p a{
	color: #fff;
	font-size: 0.8125em;
	line-height: 1.5em;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.tab-text1 p a:hover{
	color: #00BFF0;
	text-decoration: none;
}	
.tab-text1 p {
	margin-bottom: 10px;
}
span.m_date{
	color:#555;
	font-size:0.85em;
}
/*--gallery--*/
/* Circular Content Carousel Style */
.ca-container{
	position: relative;
	height:430px;
}
.ca-container1{
	position: relative;
	padding-top:1em;
	height: 450px;
}
.ca-wrapper{
	width:100%;
	height:100%;
	position:relative;
}
.ca-item{
	position:relative;
	float:left;
	width:315px;
	height:100%;
	text-align:center;
}
.ca-item-main{
	position: absolute;
	top: 5px;
	left:0px;
	right: 5px;
	bottom: 5px;
	overflow: hidden;
}
.ca-icon{
	width:100%;
	height: 200px;
	display: block;
	position: relative;
	margin: 0 auto;
	background: transparent url(../images/pic12.jpg) no-repeat center center;
	margin-bottom: 5px;
}
.ca-icon1{
	width:100%;
	height: 200px;
	display: block;
	position: relative;
	margin: 0 auto;
	background: transparent url(../images/pic11.jpg) no-repeat center center;
	margin-bottom: 5px;
}
.ca-icon2{
	width:100%;
	height: 200px;
	display: block;
	position: relative;
	margin: 0 auto;
	background: transparent url(../images/pic10.jpg) no-repeat center center;
	margin-bottom: 5px;
}
.ca-icon3{
	width:100%;
	height: 200px;
	display: block;
	position: relative;
	margin: 0 auto;
	background: transparent url(../images/pic14.jpg) no-repeat center center;
	margin-bottom: 5px;
}
.ca-icon4{
	width:100%;
	height: 200px;
	display: block;
	position: relative;
	margin: 0 auto;
	background: transparent url(../images/pic15.jpg) no-repeat center center;
	margin-bottom: 5px;
}
.ca-icon5{
	width:100%;
	height: 200px;
	display: block;
	position: relative;
	margin: 0 auto;
	background: transparent url(../images/pic16.jpg) no-repeat center center;
	margin-bottom: 5px;
}
.ca-icon6{
	width:100%;
	height: 200px;
	display: block;
	position: relative;
	margin: 0 auto;
	background: transparent url(../images/pic17.jpg) no-repeat center center;
	margin-bottom: 5px;
}
.ca-icon7{
	width:100%;
	height: 200px;
	display: block;
	position: relative;
	margin: 0 auto;
	background: transparent url(../images/pic17.jpg) no-repeat center center;
	margin-bottom: 5px;
}
.ca-item-2 .ca-icon{
	background-image:url(../images/pic10.jpg);
}
.ca-item-2 .ca-icon1{
	background-image:url(../images/pic1.jpg);
}
.ca-item-2 .ca-icon2{
	background-image:url(../images/pic13.jpg);
}
.ca-item-2 .ca-icon3{
	background-image:url(../images/pic10.jpg);
}
.ca-item-2 .ca-icon4{
	background-image:url(../images/pic13.jpg);
}
.ca-item-2 .ca-icon5{
	background-image:url(../images/pic12.jpg);
}
.ca-item-2 .ca-icon6{
	background-image:url(../images/pic11.jpg);
}
.ca-item-2 .ca-icon7{
	background-image:url(../images/pic15.jpg);
}
.ca-item-3 .ca-icon{
	background-image:url(../images/pic15.jpg);
}
.ca-item-4 .ca-icon{
	background-image:url(../images/pic9.jpg);
}
.ca-content-wrapper{
	background:ghostwhite;
	position:absolute;
	width:0px; /* expands to width of the wrapper minus 1 element */
	height:440px;
	top:5px;
	text-align:left;
	z-index:10000;
	overflow:hidden;
}
.ca-content{
	width:100%;
	overflow:hidden;
}
.ca-content-text{
	padding: 10px 36px;
	color: #999;
	line-height: 1.8em;
	font-weight: 300;
	font-size: 0.875em;
}
.ca-content-text p{
	padding-bottom:5px;
}
.ca-content h6{
	margin:25px 20px 0px 35px;
	font-size:1.2em;
	padding-bottom:5px;
	color:#252525;
	border-bottom:2px solid #eee;
	text-shadow: 1px 1px 1px #eee;
}
.ca-nav span{
	width:70px;
	height:70px;
	background: url(../images/img-sprite.png)no-repeat -137px -119px; 
	position:absolute;
	top:50%;
	margin-top:-43px;
	text-indent:-9000px;
	cursor:pointer;
	z-index:100;
	left:5px;
}
.ca-nav span.ca-nav-next{
	background: url(../images/img-sprite.png)no-repeat -233px -119px;
	left:auto;
	right:5px;
}
.ca-nav span:hover{
	opacity:1.0;
}
ul.partner{
	margin: 8% 0 0 0;
	padding: 0;
}
ul.partner li{
	display: inline-block;
	margin:6% 0;
	width: 49%;
	vertical-align: middle;
}
.map{
	padding-top:5%;
	position:relative;
}
.opening_hours{
	position: absolute;
	background:rgba(46, 176, 226, 0.57);
	top: 15.5%;
	left: 63%;
	padding: 1%;
	width: 22%;
}
span.opening{
	font-family: 'Open Sans', sans-serif;
}
ul.times h3{
	color:#fff;
	font-size:2em;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align:center;
	margin-bottom: 3%;
}
ul.times{
	list-style:none;
	padding: 0;
	margin: 0;
}
ul.times li{
	border-bottom:1px solid #B9DEEC;
	margin-bottom: 5px;
	padding-bottom: 5px;
}
ul.times p{
	color:#fff;
	font-size:0.8125em;
	line-height:1.5em;
	text-align:center;
	margin-top:5%;
}
ul.times h4{
	font-size: 1.5em;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: italic;
	text-align: center;
	font-style: italic;
	margin-top: 5%;
}
i.calender{
	background: url(../images/img-sprite.png)-49px -78px;
	width:20px;
	height:20px;
	float:left;
	margin-right: 1%;
}
span.week{
	color:#fff;
	font-size:0.8125em;
	font-family: 'Open Sans', sans-serif;
}
.hours{
	float:right;
	font-size:0.8125em;
	color:#fff;
}
/*--footer-top--*/
.footer-top{
	width:60%;
	margin:0 auto;
	padding:7% 0;
}
i.twt_icon{
	background: url(../images/img-sprite.png)no-repeat -335px -119px;
	width: 80px;
	height: 70px;
	float: left;
	margin-right: 5%;
}
ul.twitter_footer li p{
	color: #00BFF0;
	font-size: 0.85em;
	line-height: 1.5em;
	margin:10px 0 0;
	width: 86.5%;
	float: left;
}
span.m_6{
	color:#044C8F;
}
ul.twitter_footer{
	list-style:none;
	padding:0;
	margin: 0;
}
/*--fooer-bottom--*/
.footer-bottom{
	background:#72d0f4;
	padding:3% 0;
}
h4.m_7 {
	color:#fff;
	font-size: 1.1em;
	font-weight:400;
	margin-bottom:6%;
	text-transform:uppercase;
}
.copyright{
	background:#00bff0;
	padding:10px 0 2px;
}
.copy{
	float:left;
	margin-top: 5px;
}
.copy p{
	color:#fff;
	font-size:0.8125em;
}
.copy p a{
	color:#DBF5FF;
}
.copy p a:hover{
	color:#000;
}
p.m_8{
	color:#fff;
	font-size:0.85em;
	line-height:1.5em;
	text-transform:uppercase;
	margin-bottom: 4%;
}
.subscribe{
	margin-bottom:4%;
}
.subscribe input[type="text"] {
	background: #B9E8FA;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
	-webkit-appearance: none;
	border: 1px solid #00BFF0;
	font-family: 'Open Sans', sans-serif;
	outline: none;
	font-size: 0.8125em;
	padding: 10px 20px;
	color: #00BFF0;
	position: relative;
	width:89%;
	text-transform: uppercase;
}
.subscribe1 {
	width:65%;
	background:#e25050;
}
.subscribe1:hover {
	background:#00BFF0;
}
.subscribe1 a{
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	border: none;
	color: #FFF;
	outline: none;
	font-size: 0.8125em;
	-webkit-appearance: none;
	text-transform: uppercase;
	padding: 5px 13px 10px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-decoration: none;
}
i.but_arrow{
	background: url(../images/img-sprite.png) no-repeat -442px -128px;
	width: 20px;
	height: 23px;
	display: inline-block;
	margin: 0 0px 0 96px;
	vertical-align: bottom;
}
.f-logo{
	text-align: center;
	margin-top: -10px;
	padding-bottom: 2%;
}
p.m_9{
	color:#fff;
	font-size:0.8125em;
	line-height:1.8em;
	margin-bottom: 5%;
}
p.address{
	color:#fff;
	font-size:0.8125em;
	line-height:1.5em;
}
span.m_10{
	font-style:italic;
	font-size:1.3em;
	font-weight:600;
	line-height: 1.5em;
}
ul.list li a {
	color: #FFF;
	font-size: 0.8125em;
	line-height:1.8em;
}
ul.list li a:hover {
	color:#555;
	text-decoration: none;
}
ul.list {
	float: left;
	width: 50%;
}
ul.list1 {
	float: right;
	width: 50%;
}
ul.list1 li a {
	color: #FFF;
	font-size: 0.8125em;
	line-height:1.8em;
	text-decoration: none;
}
ul.list1 li a:hover {
	color:#000;
}
ul.list li {
	list-style-image: url(../images/list_arrow.png);
	margin: 0 20px 0px;
}
ul.list1 li {
	list-style-image: url(../images/list_arrow.png);
	margin: 0 20px 0px;
}
/*--about--*/
.about_banner_wrap{
	position:relative;
}
h1.m_11{
	color: #FFF;
	background: #00BFF0;
	padding: 7px 50px;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 100;
	position: absolute;
	top:-48px;
	text-align: center;
	left:14%;
	margin:0;
}
.about-wrapper {
	background: #00BFF0;
}
.about-top {
	padding: 7% 0;
	width: 89%;
	margin: 0 auto;
}
.about-left-text{
	text-align:center;
}
.about-left-text h2 {
	font-size: 2.5em;
	font-weight: 100;
	color: #FFF;
	margin:7% 0 1% 0;
}
.about-left-text  p {
	font-size: 1.1em;
	color: #FFF;
	line-height: 1.5em;
	font-weight: 100;
	margin-bottom: 10px;
}
.about-left-text h4 {
	font-size: 0.95em;
	font-weight: 600;
	color: #FFF;
}
span.m_12 {
	font-style: italic;
	font-weight: 400;
}
.about_trainer{
	padding:7% 0;
}
.about_box{
	margin-bottom:2.6%;
}
.box1{
	background:#72d0f4;
	padding:8% 5% 4% 5%;
}
.box1_left{
	width: 42.5%;
	float: left;
	text-align: center;
	border-right: 1px solid #B9DEEC;
	margin-right: 20px;
	padding-right: 20px;
}
.box1_right{
	width: 45.5%;
	float: left;
}
.box1_left img{
	border-radius:100px;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	-o-border-radius:100px;
}
.desc1 h3 {
	text-align: center;
	line-height: 20px;
	color: #fff;
	font-size: 1em;
	font-weight:600;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.desc1 p{
	color: #fff;
	font-size: 0.8125em;
	font-style: italic;
	line-height: 20px;
	text-align: center;
	margin-bottom: 10px;
	line-height: 1.3em;
}
i.a_twt {
	background: url(../images/img-sprite.png)no-repeat -316px -209px;
	width: 20px;
	height: 25px;
	display: inline-block;
	cursor: pointer;
}
i.a_fb {
	background: url(../images/img-sprite.png)no-repeat -354px -209px;
	width: 20px;
	height: 25px;
	display: inline-block;
	cursor: pointer;
}
i.a_heart{
	background: url(../images/img-sprite.png)no-repeat -395px -209px;
	width: 20px;
	height: 25px;
	display: inline-block;
	cursor: pointer;
}
i.a_heart:hover, i.a_fb:hover, i.a_twt:hover, i.like1:hover, i.heart1:hover, i.like:hover, i.twt:hover, i.twt:hover, i.fb:hover{
	opacity:0.5;
}
.box1_right h4{
	color: #FFF;
	font-size:0.9em;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.box1_right p{
	color:#fff;
	font-size:0.79em;
	line-height:1.5em;
	margin-bottom:20px;
}
h4.right_text {
	color:#00BFF0;
}
p.para1{
	color:#fff;
	font-size:0.79em;
	line-height:1.5em;
}
.box2{
	background:#fff;
	padding: 8% 5% 4% 5%;
}
.desc2 h3 {
	text-align: center;
	line-height: 20px;
	color:#00BFF0;
	font-size: 1em;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.desc2 p {
	color: #000;
	font-size: 0.8125em;
	font-style: italic;
	line-height: 20px;
	text-align: center;
	margin-bottom: 10px;
	line-height: 1.3em;
}
p.right_text1 {
	color: #00BFF0;
	font-size: 0.79em;
	line-height: 1.5em;
	margin-bottom: 20px;
}
p.right_text2 {
	color: #00BFF0;
}
.login{
	background:#72d0f4;
	padding:4% 0;
}
.login_details{
	width:70%;
	margin:0 auto;
}
.join{
	text-align:center;
	border-right: 1px solid #B9DEEC;
}
.join h3{
	color:#fff;
	font-style:italic;
	font-size:2em;
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom: 3px;
}
.join h4{
	color: #FFF;
	font-size: 1.3em;
	font-weight: 600;
	margin-bottom: 3%;
}
.join p{
	color: #FFF;
	font-size:0.8125em;
	line-height:1.5em;
}
.btn3{
	margin-top:7%;
}
.btn3 a {
	background:#ff0000;
	font-size:0.85em;
	padding:12px 80px;
	color: #FFF;
	cursor: pointer;
	outline: none;
	-webkit-appearance: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border:none;
	text-transform:uppercase;
}
.btn3 a:hover{
	background:#DF0606;
	text-decoration: none;
}
.join-right h3{
	color:#222;
	font-style:italic;
	font-size:2em;
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom: 3px;
}
.join-right h4{
	color: #222;
	font-size: 1.3em;
	font-weight: 600;
	margin-bottom: 3%;
}
.join-right{
	text-align:center;
}
.join-right p{
	color: #222;
	font-size:0.8125em;
	line-height:1.5em;
}
.btn4{
	float:left;
	margin-left:20%;
}
.btn4 a {
	background:#fff;
	font-size:0.85em;
	padding:12px 45px;
	color:#00BFF0;
	cursor: pointer;
	outline: none;
	-webkit-appearance: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border:none;
	text-transform:uppercase;
}
.btn4 a:hover {
	background: #00BFF0;
	color:#fff;
	text-decoration: none;
}
.buttons_login{
	padding-top:7%;
}
.p-ww{
	float:left;
	margin-top: -12px;
}
.p-ww input[type="text"] {
	font-family: 'Open Sans', sans-serif;
	padding: 12px 20px;
	border: none;
	outline: none;
	width:70%;
	color: #FFF;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.85em;
	border-radius: 0.15em;
	-webkit-border-radius: 0.15em;
	-moz-border-radius: 0.15em;
	-o-border-radius: 0.15em;
	background: #A1EEF7;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	cursor: pointer;
}
.p-ww input[type="text"]:hover {
	background: #77E9F7;
}
.testimonial{
	padding:6% 0;
	text-align:center;
}
i.quot {
	width: 100px;
	height: 100px;
	background: url(../images/img-sprite.png)no-repeat #00afec 10px -241px;
	display: block;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-o-border-radius: 100px;
	margin: 0 auto;
}
.testimonial p{
	font-style:italic;
	font-size:1em;
	color:#888;
	line-height:1.8em;
	margin-top:5%;
}
p.ceo{
	color:#000;
	font-size:1em;
	font-style: normal;
	margin-top: 3%;
}
span.ceo1{
	color:#73E2FF;
	font-size:1em;
	text-transform:uppercase;
}
.about_gallery{
	background:#e6e6e6;
	padding:4% 0;
}
/*--trainers--*/
.border {
	border: 5px solid #00BFF0;
}
/******** SAP ************/
.sap_tabs{
	clear:both;
	margin:5% 0;
}
.facts{
	padding: 5% 5% 1% 5%;
}
.top1{
	margin-top: 2%;
}
.resp-tabs-list {
	width: 100%;
	text-align: center;
	margin-bottom:4%;
}
.resp-tab-item{
	color: #00BFF0;
	font-size: 1.5em;
	text-transform: uppercase;
	cursor: pointer;
	padding: 12px 0;
	display: inline-block;
	margin: 0;
	text-align: center;
	list-style: none;
	float: dis;
	width: 11.28%;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0 auto;
}
.resp-tab-item:hover {
	border: 1px solid #00BFF0;
	background: #FFF;
}
.resp-tab-active{
	background: none;
	text-shadow: none;
	color:#00BFF0;
	border: 1px solid #00BFF0;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
}
.resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	clear: left;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
h2.resp-accordion {
	font-size:1em;
	margin: 0px;
	padding: 10px 15px;
	background:#F7FDFF;
	margin:10px 0;
	color:#00BFF0;
}
h2.resp-accordion:hover{
	background:#00BFF0;
	text-shadow: none;
	color: #FFF;
}
@media only screen and (max-width:768px) {
	.sap_tabs{
		padding-top:0;
	}
	.resp-tabs-container{
		padding:10px;
	}
ul.resp-tabs-list {
  	display: none;
}
h2.resp-accordion {
  	display: block;
}
.resp-vtabs .resp-tab-content {
  	border: 1px solid #C1C1C1;
}
.resp-vtabs .resp-tabs-container {
	border: none;
	float: none;
	width: 100%;
	min-height: initial;
	clear: none;
}
.resp-accordion-closed {
	display: none !important;
}
}
span.tab-img{
	float: left;
	width: 30.5%;
	margin-right: 2.6%;
}
.tab-text{
	float:left;
	width: 66.5%;
}
.tab-text p{
	margin-bottom: 10px;
}
.tab-text p a{
	color: #777;
	font-size: 0.95em;
	line-height: 1.5em;
	text-transform: uppercase;
}
.tab-text p a:hover{
	color:red;
}
.post-meta {
	font-size: 14px;
	margin-bottom: 10px;
}
.post-meta img{
	vertical-align:middle;
	margin-top: -2px;
}
.post-meta a {
	color: #777;
	margin-right: 10px;
}
.post-meta a:hover{
	color:red;
}
.tab-left{
	margin-bottom:5%;
	padding: 0;
}
.timetable {
	width: 100%;
	font-size: 11px;
	margin-top: 30px;
}
.timetable th, .timetable td {
	width: 12.5%;
	text-align: center;
	padding: 15px;
	border:1px solid #E2E2E2;
	background:#fff;
	font-size: 14px;
	color: #555;
}
.timetable .event {
	background-color:#72D0F4;
	color: #FFF;
	border-bottom: 1px solid #16BDFD;
	border-right: 1px solid #16BDFD;
	line-height: 150%;
}
.timetable .event:hover {
	background:#fff;
	color:#00BFF0;
}
.timetable .event a {
	display: block;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}
.timetable .event:hover a {
	color:#00BFF0;
}
.trainers_middle_bottom{
	padding:3% 0 7% 0;
}
.traine_login{
	padding:4% 0;
	background:#72D0F4;
	margin-bottom:5%;
}
.timetable_small{
	display:none;
}
/*--classes--*/
.classes_wrapper {
	padding:6% 0;
}
.class_left{
	width:45.5%;
	float:left;
}
.class_right{
	width:54.5%;
	float: left;
	background: #72D0F4;
	padding: 4%;
}
.class_right h3{
	color:#fff;
	font-size:1.3em;
	text-transform:uppercase;
	text-align:center;
	font-weight:100;
	margin: 0 0 5px;
}
.class_right p{
	color:#fff;
	font-size:0.8125em;
	line-height:1.5em;
	margin-bottom: 8%;
}
.class_box{
	margin-bottom:2.6%;
}
.class_img{
	width:88%;
	margin:0 auto;
}
.class_img img{
	float: left;
	width:30.5%;
	margin-right:15px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-o-border-radius: 100px;
}
.class_desc{
	width:62.5%;
	float: left;
}
.class_desc h4{
	color:#fff;
	font-size:1em;
	font-weight:100;
	text-transform:uppercase;
	margin:0;
}
.class_desc h5{
	color:#fff;
	font-size:0.95em;
	font-weight:600;
	text-transform:uppercase;
	margin: 5px 0;
}
ul.buttons_class li.btn5{
	float:left;
	list-style: none;
}
ul.buttons_class li.btn5 a{
	background: none;
	font-size: 0.8125em;
	padding: 5px 10px;
	color: #FFF;
	cursor: pointer;
	outline: none;
	-webkit-appearance: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border: 1px solid #FFF;
	text-transform: uppercase;
	text-decoration:none;
}
ul.buttons_class li.btn5 a:hover{
	background:#fff;
	color:#00BFF0;
}
ul.buttons_class li.btn6{
	float:right;
	list-style:none;
}
ul.buttons_class li.btn6 a {
	background: none;
	font-size: 0.8125em;
	padding: 5px 10px;
	color: #FFF;
	cursor: pointer;
	outline: none;
	-webkit-appearance: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border: 1px solid #FFF;
	text-transform: uppercase;
	text-decoration:none;
}
ul.buttons_class li.btn6 a:hover{
	background:#fff;
	color:#00BFF0;
}
ul.buttons_class{
	padding: 5% 0 0 0;
}
.class_right1 {
	width:54.5%;
	float: left;
	background: #fff;
	padding:3.3%;
}
.class_right1 h3 {
	color:#00BFF0;
	font-size: 1.3em;
	text-transform: uppercase;
	text-align: center;
	font-weight: 100;
	margin: 0 0 5px 0;
}
.class_right1 p {
	color:#00BFF0;
	font-size: 0.8125em;
	line-height: 1.5em;
	margin-bottom: 8%;
}
.class_desc1 h4 {
	color:#00BFF0;
	font-size: 1em;
	font-weight: 100;
	text-transform: uppercase;
	margin:0;
}
.class_desc1 h5 {
	color:#00BFF0;
	font-size:0.95em;
	font-weight: 600;
	text-transform: uppercase;
	margin: 5px 0;
}
ul.buttons_class li.btn7 {
	float: left;
	list-style: none;
}
ul.buttons_class li.btn7 a {
	background: none;
	font-size: 0.8125em;
	padding: 5px 10px;
	color:#00BFF0;
	cursor: pointer;
	outline: none;
	-webkit-appearance: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border: 1px solid #00BFF0;
	text-transform: uppercase;
	text-decoration: none;
}
ul.buttons_class li.btn7 a:hover {
	background:#00BFF0;
	color:#fff;
}
ul.buttons_class li.btn8{
	float: right;
	list-style: none;
}
ul.buttons_class li.btn8 a {
	background: none;
	font-size: 0.8125em;
	padding: 5px 10px;
	color:#00BFF0;
	cursor: pointer;
	outline: none;
	-webkit-appearance: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border: 1px solid #00BFF0;
	text-transform: uppercase;
	list-style:none; 
	text-decoration: none;
}
ul.buttons_class li.btn8 a:hover {
	background:#00BFF0;
	color:#fff;
}
.classes_bottom{
	padding-bottom:6%;
}
span.class_1{
	font-size:13px;
	vertical-align: middle;
	margin-right: 40%;
}
/*--single_class--*/
.single-top {
	padding: 6% 0;
}
.single_class-left{
	background:#fff;
}
.single_class-left img{
	max-width:100%;
	display: inline-block;
}
.singe_desc{
	padding:4% 2% 2% 2%;
}
.singe_desc p{
	color: #888;
	font-size: 0.85em;
	line-height: 1.8em;
}
.single_times{
	background:#a5d8eb;
	padding: 4%;
	margin-bottom:8%;
	list-style: none;
}
.single_grid{
	padding:5.6% 0 0 0;
	list-style: none;
	margin-bottom: 0;
}
li.grid1{
	width: 24.5%;
	float: left;
	text-align: center;
	margin-right: 4%;
	padding-right: 3%;
	border-right: 1px solid #B9DEEC;
}
li.grid1 img{
	border-radius:100px;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	-o-border-radius:100px;
}
li.grid1 h4{
	line-height: 20px;
	color:#00BFF0;
	font-size: 1em;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 10px;
}
li.grid1 p {
	color: #333;
	font-size: 0.8125em;
	font-style: italic;
	line-height: 20px;
	margin-bottom: 10px;
	line-height: 1.3em;
}
li.grid2{
	width: 33.5%;
	float: left;
	margin-right: 4%;
	padding-right: 3%;
	border-right: 1px solid #B9DEEC;
}
li.grid3{
	width:33.5%;
	float:left;
}
h3.m_13{
	color:#00BFF0;
	font-size:1.2em;
	text-transform:uppercase;
	text-align: center;
	margin: 0 0 20px;
}	
ul.list1_class li {
	list-style-image: url(../images/a3.png);
	margin: 0 25px 10px;
	vertical-align: bottom;
}
p.price{
	font-size:1em;
	float: right;
	background:#72d0f4;
	padding: 2px 10px;
	color:#fff;
	line-height: 1.5em;
}
ul.list2_class li {
	list-style-image: url(../images/a4.png);
	margin: 0 15px 10px;
}
ul.list2_class li a {
	color: #888;
	font-size: 0.85em;
	vertical-align: top;
	text-decoration: none;
}
ul.list2_class li a:hover {
	color:#00BFF0;
	vertical-align: top;
}
ul.list1_class li a{
	color:#888;
	font-size:0.85em;
	vertical-align: top;
	text-decoration: none;
}
ul.list1_class li a:hover{
	color:#00BFF0;
}
ul.single_times h3 {
	color: #FFF;
	font-size: 2em;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	margin-bottom:5%;
}
ul.single_times li {
	border-bottom: 1px solid #B9DEEC;
	margin-bottom:10px;
	padding-bottom:10px;
}
span.week_class {
	color: #FFF;
	font-size: 0.85em;
	font-family: 'Open Sans', sans-serif;
}
.hours_class{
	float: right;
	font-size: 0.85em;
	color: #FFF;
}
ul.list1_class, ul.list2_class{
	padding:0;
}
/*--blog--*/
.blog_grid h3{
	padding:2%;
	margin:0;
}
.blog_grid h3 a{
	color:#00BFF0;
	font-size:21px;
	line-height:1.5em;
	text-decoration:none;
}
.blog_grid h3 a:hover{
	color:#04A6CF;
}
i.document{
	width: 35px;
	height: 40px;
	background: url(../images/img-sprite.png)no-repeat -360px -267px #00BFF0;
	float: right;
	margin:-92px 0px 0 0px;
}
ul.links{
	float:left;
	text-align:center;
	padding: 0;
	margin: 0;
}
ul.links ul li {
	display: inline-block;
	margin-right: 20px;
}
ul.links ul li a {
	color: #4D606E;
	font-size: 0.85em;
	padding-left: 10px;
}
ul.links li {
	display: inline-block;
	margin-right:30px;
}
i.blog_icon1 {
	width: 30px;
	height: 30px;
	background: url(../images/img-sprite.png)no-repeat -108px -274px;
	display: inline-block;
}
i.blog_icon2 {
	width: 30px;
	height: 30px;
	background: url(../images/img-sprite.png)no-repeat -172px -272px;
	display: inline-block;
}
i.blog_icon3 {
	width: 30px;
	height: 30px;
	background: url(../images/img-sprite.png)no-repeat -238px -273px;
	display: inline-block;
}
i.blog_icon4 {
	width: 30px;
	height: 30px;
	background: url(../images/img-sprite.png)no-repeat -304px -274px;
	display: inline-block;
}
ul.links li a {
	color:#00BFF0;
	font-size: 0.8125em;
	padding-left: 10px;
	font-style: italic;
}
ul.links li a:hover {
	text-decoration:underline;
}
.btn_blog{
	float:right;
	margin-top:20px;
}
.btn_blog a {
	background: none;
	font-size: 1em;
	color: #ff0000;
	cursor: pointer;
	outline: none;
	-webkit-appearance: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	font-style:italic;
	border: 1px solid #FFF;
	text-decoration: none;
}
.btn_blog a:hover {
	color:#00BFF0;
}
.comments{
	padding:3%;
	list-style:none;
}
ul.comment_head{
	list-style:none;
	padding: 0;
}
.blog_box{
	padding-bottom: 5%;
	margin-bottom: 5%;
	border-bottom: 2px ridge #FFF;
}
.blog_grid{
	background: #FFF;
}
.blog_grid img{
	max-width:100%;
}
i.document1{
	width: 35px;
	height: 40px;
	background: url(../images/img-sprite.png)no-repeat -414px -265px #F00086;
	float: right;
	margin: -92px 0px 0 0px;
}
i.document2{
	width: 35px;
	height: 40px;
	background: url(../images/img-sprite.png)no-repeat -464px -262px #F0AD00;
	float: right;
	margin: -92px 0px 0 0px;
}
i.document3{
	width: 35px;
	height: 40px;
	background: url(../images/img-sprite.png)no-repeat #00BFF0 -15px -335px;
	float: right;
	margin: -92px 0px 0 0px;
}
ul.dc_pagination {
	overflow: hidden;
	margin: 3% 0 2% 0;
}
ul.dc_pagination li:first-child {
	margin-left: 0px;
	text-transform: uppercase;
}
ul.dc_pagination li {
	display: inline-block;
	margin: 0px;
	margin-left: 5px;
	padding: 0px;
}
ul.dc_pagination li a {
	color: #000;
	display: block;
	padding: 8px 15px 8px 15px;
	text-decoration: none;
	font-size:0.85em;
}
ul.dc_paginationA06 li a:hover, ul.dc_paginationA06 li a.current {
	background:#00BFF0;
	color: #FFF;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
}
ul.blog-list{
	background: #72D0F4;
	padding: 6%;
	margin-bottom:8%;
}
ul.blog-list h4, ul.recent-list h4{
	color:#fff;
	font-size:1.1em;
	text-transform:uppercase;
	margin-bottom: 7%;
}
ul.blog-list li {
	list-style-image: url(../images/a1.png);
	margin: 0 40px 10px;
}
ul.blog-list li a {
	color: #fff;
	text-transform:uppercase;
	font-size: 0.85em;
	vertical-align: top;
	text-decoration: none;
}
ul.blog-list li a:hover {
	color:#BCEBFD;
}
ul.recent-list{
	background:#00bff0;
	padding: 6%;
	margin-bottom:8%;
}
ul.recent-list li {
	list-style-image: url(../images/a2.png);
	margin: 0 30px 10px;
	border-bottom: 1px solid #B9DEEC;
	padding-bottom: 10px;
}
ul.recent-list li a {
	color: #fff;
	font-size: 0.85em;
	vertical-align: top;
	text-decoration: none;
}
ul.recent-list li span{
	color:#333;
	font-size:0.85em;
}
ul.recent-list li a:hover {
	color: #BCEBFD;
}
h3.m_14 {
	text-align: center;
	color: #00BFF0;
	text-transform: uppercase;
	font-size: 2em;
	font-family: 'Open Sans Condensed', sans-serif;
	font-style: italic;
	margin-bottom: 4%;
	padding-top:8%;
}
ul.blog-list1{
	padding-top: 8%;
	list-style: none;
	margin: 0;
	padding: 8% 0 0 0;
}
ul.blog-list1 h4, ul.archive-list h4{
	color: #00BFF0;
	font-size: 1.1em;
	text-transform: uppercase;
	margin-bottom:4%;
}
ul.blog-list1 li {
	float: left;
	background: #72d0f4;
	padding: 5px;
	margin:5px;
}
ul.blog-list1 li a {
	color: #fff;
	font-size: 0.85em;
	text-decoration: none;
}
ul.blog-list1 li a:hover {
	color:#333;
}
ul.archive-list{
	background:#e6e6e6;
	padding: 6%;
	margin-top: 8%;
}
ul.archive-list li {
	list-style-image: url(../images/a3.png);
	margin: 0 40px 10px;
}
ul.archive-list li a {
	color:#00BFF0;
	text-transform: uppercase;
	font-size: 0.85em;
	vertical-align: top;
	text-decoration: none;
}
ul.archive-list li a:hover {
	color:#fff;
}
h3.m_15 {
	text-align: center;
	color: #00BFF0;
	text-transform: uppercase;
	font-size: 2em;
	font-family: 'Open Sans Condensed', sans-serif;
	padding-top: 8%;
	margin: 0;
}
.video_player {
	width:100%;
}
ul.partner_blog {
	margin-top: 8%;
}
ul.partner_blog li {
	display: inline-block;
	width: 49%;
	vertical-align: middle;
}
/*--blog_single--*/
ul.links_blog{
	padding: 2%;
	text-decoration: none;
	margin: 0;
}
ul.links_blog li {
	display: inline-block;
	margin-right: 12%;
}
ul.links_blog li a {
	color: #00BFF0;
	font-size: 0.8125em;
	padding-left:15px;
	font-style: italic;
	vertical-align:middle;
}
ul.links_blog li a:hover {
	text-decoration:underline;
}
i.blog_icon5 {
	width: 30px;
	height: 30px;
	background: url(../images/img-sprite.png)no-repeat -108px -274px;
	float: left;
}
i.blog_icon6 {
	width: 30px;
	height: 30px;
	background: url(../images/img-sprite.png)no-repeat -172px -272px;
	float: left;
}
i.blog_icon7 {
	width: 30px;
	height: 30px;
	background: url(../images/img-sprite.png)no-repeat -238px -273px;
	float: left;
}
i.blog_icon8 {
	width: 30px;
	height: 30px;
	background: url(../images/img-sprite.png)no-repeat -304px -274px;
	float: left;
}
ul.links_blog h3{
	margin: 0 0 2% 0;
}
ul.links_blog h3 a {
	color: #00BFF0;
	font-size: 24px;
	line-height: 1.5em;
	text-decoration: none;
}
ul.links_blog h3 a:hover {
	color:#333;
}
.blog_single_grid{
	background:#fff;
}
.blog_single_grid img{
	max-width:100%;
}
p.m_16{
	color:#888;
	font-size:0.85em;
	line-height:1.8em;
}
p.m_17{
	color:#888;
	font-size:0.85em;
	line-height:1.8em;
	margin:3% 0;
}
.blog_single_desc{
	padding:4%;
}
ul.social_blog{
	background:#72d0f4;
	padding: 20px 20px 15px;
}
ul.social_blog li:first-child{
	margin-top: 0px;
	margin-left: 0;
}
ul.social_blog li {
	background: none;
	display: inline-block;
	margin-right: 6px;
}
ul.social_blog h3{
	float: left;
	margin:12px 20px 0 0;
	color: #FFF;
	font-size: 1em;
	text-transform: uppercase;
}
li.fb a span {
	height: 40px;
	width: 40px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -73px -333px #526da3;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
}
li.fb a span:hover {
	background: url(../images/img-sprite.png)no-repeat -73px -333px #375590;
}
li.tw a span {
	height: 40px;
	width: 40px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -132px -333px #73bfe6;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
}
li.tw a span:hover {
	background: url(../images/img-sprite.png)no-repeat -132px -333px #5badd8;
}
li.google_blog a span {
	height: 40px;
	width: 40px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -192px -333px #e2534b;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
}
li.google_blog a span:hover {
	background: url(../images/img-sprite.png)no-repeat -192px -333px #d13b33;
}
li.linkedin a span {
	height: 40px;
	width: 40px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -251px -333px #527aa3;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
}
li.linkedin a span:hover {
	background: url(../images/img-sprite.png)no-repeat -251px -333px #245587;
}
ul.comments li {
	padding-bottom: 30px;
}
i.preview {
	background: url(../images/img-sprite.png)no-repeat -303px -314px #7F8C8C;
	width: 70px;
	height:70px;
	float: left;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
}
.data {
	float: left;
	width:89.5%;
	background: #F8F8F8;
	padding:1.5% 4%;
}
.data p{
	color:#777;
	font-size:0.85em;
	line-height:1.8em;
	margin: 0;
}
ul.comments li.middle {
	padding: 0 0px 0 3%;
	margin-bottom: 30px;
}
.data-middle {
	float: left;
	width:89.5%;
	background: #F8F8F8;
	padding: 1.5% 4%;
}
.data-middle  p {
	color: #777;
	font-size: 0.85em;
	line-height: 1.8em;
	margin: 0;
}
ul.comments h4{
	color: #72D0F4;
	font-size: 1.5em;
	font-weight: 600;
	padding:3% 0;
}
ul.comment_head h5{
	font-weight:600;
	font-size:1.2em;
	color:#00BFF0;
	float: left;
	margin: 0;
}
span.m_21 a{
	color:#555;
	font-size:12px;
	font-weight:600;
	vertical-align: inherit;
}
span.m_21 a:hover{
	color:#888;
}
i.reply{
	height: 40px;
	width:35px;
	float:left;
	background: url(../images/img-sprite.png)no-repeat -375px -332px;
}
.reply1{
	float:right;
}
span.m_22 a{
	color:#00BFF0;
	font-size:0.85em;
	text-transform:uppercase;
	vertical-align: -webkit-baseline-middle;
}
span.m_22 a:hover{
	color:#555;
}
#commentform p {
	position: relative;
	padding: 8px 0;
	font-size: 1em;
}
#commentform label {
	display: block; 
	font-size:1em; 
	float: right;
	margin-top:15px;
	color:#00BFF0;
	margin-right:20%;
}
#commentform span {
	color: #A60000;
	position: absolute;
}
#commentform input[type="text"] {
	padding: 13px 20px;
	width: 60%;
	color: #FFF;
	font-size:0.85em;
	border: 1px solid #32C5FD;
	background: #72D0F4;
	outline: none;
	display: block;
	font-family: 'Open Sans', sans-serif;
}
#commentform textarea {
	padding: 13px 20px;
	width:60%;
	color: #fff;
	font-size:0.85em;
	outline: none;
	height:150px;
	display: block;
	resize: none;
	border: 1px solid #32C5FD;
	background: #72D0F4;
	font-family: 'Open Sans', sans-serif;
}
#commentform input[type="submit"] {
	padding: 16px 80px;
	color: #FFF;
	background: #F00;
	outline: none;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-appearance: none;
	font-size: 1.3em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
#commentform input[type="submit"]:hover {
	background:#555;
}
/*--pricing--*/
ul.price_list{
	list-style:none;
	padding:0;
}
ul.price_list p{
	margin:0;
}
ul.price1{
	background:#00bff0;
	text-align:center;
	padding:5%;
}
ul.price1 h4{
	color:#fff;
	font-size:1.1em;
	text-transform:uppercase;
	margin-bottom: 3%;
}
ul.price1 h3{
	color: #FFF;
	font-size: 3em;
	text-transform: uppercase;
	font-weight: 600;
	margin: 5% 0;
}
ul.price_list p  a{
	line-height: 1.8em;
	font-size:0.85em;
	color: #fff;
	text-decoration: none;
}
ul.price_list p a:hover{
	color:#B0E8FD
}
ul.price_list1{
	padding:0;
	list-style:none;
}
ul.price_list img {
	vertical-align:middle;
	margin-right: 6px;
}
li.price_but{
	background: none;
	font-size: 0.85em;
	padding:8px 20px;
	color: #FFF;
	cursor: pointer;
	outline: none;
	-webkit-appearance: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border: 1px solid #FFF;
	text-transform: uppercase;
	text-decoration: none;
	width: 55%;
	margin: 5% auto;
}
li.price_but:hover{
	background:#fff;
	color:#00BFF0;
}
h2.m_25 {
	font-size: 3em;
	color: #FFF;
	font-weight: 600;
	margin: 3.4% 0;
}
h2 small {
	font-size: 17px;
	vertical-align: text-top;
	color: #FFF;
}
ul.price2{
	background:#fff;
	text-align:center;
	padding:5%;
}
ul.price2 h4 {
	color:#00BFF0;
	font-size: 1.1em;
	text-transform: uppercase;
	margin-bottom: 3%;
}
h2.m_26{
	font-size: 3em;
	color:#00BFF0;
	font-weight: 600;
	margin: 3.4% 0;
}
ul.price_list1 p {
	margin:0;
}
ul.price_list1 p a {
	line-height: 1.8em;
	font-size: 0.85em;
	color:#00BFF0;
	text-decoration: none;
}
ul.price_list1 p a:hover {
	color:#01A3CC;
}
ul.price_list1 img {
	vertical-align: middle;
	margin-right: 6px;
}
li.price_but1{
	background: none;
	font-size: 0.85em;
	padding:8px 20px;
	color:#00BFF0;
	cursor: pointer;
	outline: none;
	-webkit-appearance: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border: 1px solid #00BFF0;
	text-transform: uppercase;
	text-decoration: none;
	width: 55%;
	margin: 5% auto;
}
li.price_but1:hover{
	background:#00BFF0;
	color:#fff;
}
.price_plans{
	padding:5% 0;
}
ul.price_question{
	background:#e6e6e6;
	padding:4% 0;
	list-style: none;
}
li.question_left{
	width:73.5%;
	float: left;
	margin-right: 6.6%;
}
li.question_left h4{
	color:#00BFF0;
	font-size:2em;
	font-weight:600;
	margin: 0 0 5px;
}
li.question_left p{
	color:#00BFF0;
	font-size:1em;
	margin: 0;
}
li.question_right{
	width:19.5%;
	float: left;
	background: #F00;
	padding: 10px;
	color: #FFF;
	font-weight: 600;
	font-size: 1.5em;
	text-align: center;
	margin-top:5px;
}
.pricing{
	padding:5% 0;
}
/*--contact--*/
.contact{
	background:#00bff0;
	padding:5% 0;
}
p.contact_msg{
	color:#fff;
	font-size:0.85em;
	margin-bottom:10px;
}
.to input[type="text"] {
	padding:10px;
	width:29%;
	font-size:0.85em;
	font-family: 'Open Sans', sans-serif;
	margin: 10px 0;
	border:none;
	color: #fff;
	background: #80dff8;
	float: left;
	outline: none;
}
.text{
	float:left;
	width:63%;
}
.text input[type="text"], .text textarea {
	width:96.5%;
	font-size:0.85em;
	margin: 10px 0;
	border:none;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	outline: none;
	background: #80dff8;
	height: 100px;
	padding:10px;
	resize:none;
}
.form-submit1{
	float:left;
	margin: 10px 0px 0 6px;
}
.form-submit1 input[type="submit"] {
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.95em;
	font-weight: normal;
	padding: 10px 34px 10px 10px;
	text-transform: uppercase;
	background: url(../images/submit_arrow.png)no-repeat 180px 13px #E25050;
	display: inline-block;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	font-weight: 100;
	border: none;
	cursor: pointer;
}
.form-submit1 input[type="submit"]:hover {
	background: url(../images/submit_arrow.png)no-repeat 180px 13px #555;
}
p.m_msg{
	color:#B4EDFC;
	font-size:0.8125em;
	margin:10px;
}
ul.contact_info{
	padding: 0;
	list-style: none;
	margin: 0;
}
i.mobile{
	height: 20px;
	width: 15px;
	float: left;
	background: url(../images/img-sprite.png)no-repeat -430px -338px;
	margin-right: 2%;
}
i.message{
	height: 20px;
	width: 15px;
	float: left;
	background: url(../images/img-sprite.png)no-repeat -470px -337px;
	margin-right: 2%;
}
ul.contact_info span{
	color:#fff;
	font-size:0.8125em;
}
ul.contact_info span.msg{
	cursor:pointer;
}
ul.contact_info span.msg:hover{
	text-decoration:underline;
}
.contact_hours {
	background:#72d0f4;
	padding:6%;
}
span.contact_week {
	color: #FFF;
	font-size: 0.85em;
	font-family: 'Open Sans', sans-serif;
}
.hours1{
	float: right;
	font-size: 0.85em;
	color: #FFF;
}
ul.times_contact h3 {
	color: #FFF;
	font-size: 2em;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	margin-bottom: 3%;
}
ul.times_contact{
	padding: 0;
	list-style: none;
	margin: 0;
}
ul.times_contact li {
	border-bottom: 1px solid #B9DEEC;
	margin-bottom:10px;
	padding-bottom:10px;
}
ul.times_contact p{
	color: #FFF;
	font-size: 1em;
	text-align: center;
	font-weight: 100;
	margin:5% 0 2%;
	line-height: 1.5em;
}
ul.times_contact h4 {
	font-size: 1.8em;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: italic;
	text-align: center;
	font-style: italic;
	font-weight:600;
}
.contact_bottom{
	background: #00AFEC;
	padding: 1.5% 3%;
	width: 64%;
	float: right;
	margin-top: -9%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	margin-right: 14px;
}
.contact_bottom h3 {
	color: #FFF;
	font-style: italic;
	font-size:1.5em;
	font-weight: bold;
	text-transform: uppercase;
	margin:0 0 3px;
	text-align: center;
}
ul.btn_contact{
	float:right;
	margin:22px 0 0;
}
ul.btn_contact a {
	background: #F00;
	font-size: 0.85em;
	padding:10px 50px;
	color: #FFF;
	cursor: pointer;
	outline: none;
	-webkit-appearance: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border: none;
	text-transform: uppercase;
}
ul.btn_contact a:hover {
	background: #EB0101;
	text-decoration:none;
}
span.m_26{
	color: #FFF;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	text-transform: none;
}
ul.join_text{
	float:left;
	width:66%;
	padding:0;
	margin: 0;
}
ul.join_text p{
	color:#fff;
	font-size:0.8125em;
	line-height:1.5em;
	margin: 0;
}
.contact-top h3 {
	color: #FFF;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 100;
	margin: 0 0 5px;
}
.contact-top_right h3 {
	color: #FFF;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 100;
	margin: 0 0 5px;
}
.contact-top_right p {
	color: #FFF;
	font-size: 0.8125em;
	line-height: 1.8em;
	margin: 9% 0 7%;
}
/*--login--*/
.login_top {
	padding: 4% 0;
}
.login-page {
	padding:4%;
	background: #FFF;
}
h4.title {
	color: #00BFF0;
	margin-bottom: 0.5em;
	font-size: 1em;
	line-height: 1.2;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
	border-bottom: 1px solid #ECECEC;
	padding-bottom: 13px;
}
.login-page p {
	color: #777;
	font-size: 0.85em;
	line-height: 1.8em;
}
.button1 input[type="submit"] {
	background: #00BFF0;
	border: none;
	color: #FFF;
	padding: 10px 20px;
	cursor: pointer;
	float: right;
	font-family: 'Open Sans', sans-serif;
	outline: none;
	font-size: 1em;
}
.button1 input[type="submit"]:hover {
	background: #555;
}
#login-form label {
	color: #777;
	line-height: 2.8em;
	font-size: 0.95em;
	font-weight: 400;
	margin: 0;
	display: block;
}
input.inputbox, input.required, div.k2AccountPage input[type="text"] {
	background: #FFF;
	outline-color: #00BFF0;
	border: 1px solid #EEE;
	color: inherit;
	padding: 7px 20px;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.85em;
}
.remember {
	margin-top: 6%;
}
p#login-form-remember {
	float: left;
}
fieldset.input input[type="submit"] {
	background: #00BFF0;
	border: none;
	color: #FFF;
	padding: 10px 30px;
	cursor: pointer;
	float: right;
	font-family: 'Open Sans', sans-serif;
	outline: none;
	font-size:1em;
}
fieldset.input input[type="submit"]:hover {
	background:#555;
}
#login-form label a {
	color: #777;
	color:0.85em;
}
#login-form label a:hover {
	color:#00BFF0;
}
.button1 {
	float: right;
	margin-top:8%;
}
.button1 input[type="submit"] {
	background: #00BFF0;
	border: none;
	color: #FFF;
	padding: 10px 20px;
	cursor: pointer;
	float: right;
	font-family: 'Open Sans', sans-serif;
	outline: none;
	font-size: 1em;
}
.button1 input[type="submit"]:hover {
	background:#555;
}
.register-top-grid h3, .register-bottom-grid h3 {
	color:#00BFF0;
	font-size: 1em;
	padding-bottom: 5px;
	margin: 0;
}
.register-top-grid div, .register-bottom-grid div {
	width: 48%;
	float: left;
	margin: 10px 0;
}
.register-top-grid span, .register-bottom-grid span {
	color:#555;
	font-size: 0.85em;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
}
.register-top-grid input[type="text"], .register-bottom-grid input[type="text"] {
	border: 1px solid #EEE;
	outline-color:#00BFF0;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
	font-family: 'Open Sans', sans-serif;
}
.checkbox {
	margin-bottom: 4px;
	padding-left: 27px;
	font-size: 1.1em;
	line-height: 27px;
	cursor: pointer;
}
.checkbox {
	float: left;
	margin-left: 8px;
	position: relative;
	font-weight: 600;
}
.checkbox:last-child {
	margin-bottom: 4px;
}
.checkbox:last-child {
	margin-bottom: 0;
}
.news-letter {
	color: #555;
	font-weight:600;
	font-size: 0.85em;
	margin-bottom: 1em;
	display: block;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	clear: both;
}
.checkbox i {
	position: absolute;
	bottom: 5px;
	left: 0;
	display: block;
	width:20px;
	height:20px;
	outline: none;
	border: 2px solid #DDD;
}
.checkbox input + i:after {
	content: '';
	background: url("../images/tick1.png") no-repeat 1px 2px;
	top: -1px;
	left: -1px;
	width: 15px;
	height: 15px;
	font: normal 12px/16px FontAwesome;
	text-align: center;
}
.checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.checkbox input {
	position: absolute;
	left: -9999px;
}
.checkbox input:checked + i:after {
	opacity: 1;
}
.news-letter:hover {
	color:#00BFF0;
}
.register-grids form input[type="submit"] {
	background:#E25050;
	color: #FFF;
	font-size: 0.8em;
	padding:0.8em 2.2em;
	border:none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	outline: none;
	text-transform: uppercase;
}
.register-grids form input[type="submit"]:hover {
	background:#555;
}
.register-grids{
	padding:4% 0;
}
/*--responsive design--*/
@media (max-width:1366px){
.btn4 {
	margin-left: 18%;
}
h1.m_11 {
	left: 9%;
}
ul.twitter_footer li p {
	width: 84.5%;
}
}
@media (max-width:1280px){
.btn4 {
	margin-left: 13%;
}
h1.m_11 {
	left:6%;
}
ul.twitter_footer li p {
	width: 83.5%;
}
}
@media (max-width:1024px){
.btn4 {
	margin-left:0%;
}
h1.m_11 {
	left:6%;
}
ul.twitter_footer li p {
	width: 81.5%;
	margin: 0;
}
.header-text h1 {
	font-size: 3em;
}
.header-text h2 {
	font-size: 1.2em;
}
.header-text p {
	font-size: 0.8125em;
}
.btn a {
	padding: 7px 20px;
}
.nav li a {
	padding: 7px 15px;
	margin-right: 3px;
}
.nav > li > a.parent {
	background: url(../images/nav_arrow.png) no-repeat 12px 15px #FFF;
	padding: 10px 20px 8px 30px;
}
.nav li ul {
	padding: 20px 13px;
}
.view .mask, .view .content {
	top: 60px;
	left: 95px;
}
.content_left_text h3 {
	font-size: 2.1em;
}
.content_left_text {
	padding: 9% 0 0 5%;
}
.social-media li {
	margin:0;
}
.tab-text1 p {
	line-height: 0;
}
.event1 h4 {
	font-size: 0.8125em;
}
.opening_hours {
	top: 10%;
	width: 27%;
}
i.twt_icon {
	margin-right: 2%;
}
i.but_arrow {
	margin: 0 0px 0 54px;
}
h1.m_11 {
	top: -39px;
	font-size: 1.5em;
}
.about-left-text h2 {
	font-size:2em;
}
.about-left-text p {
	font-size: 0.85em;
}
.btn3 a {
	padding: 10px 50px;
}
.btn4 a {
	padding: 10px 30px;
}
.p-ww input[type="text"] {
	padding: 10px 15px;
}
.p-ww {
	margin-top: -9px;
}
.testimonial p {
	font-size: 0.85em;
}
.resp-tab-item {
	font-size: 1.1em;
	padding: 7px 0;
}
.timetable th, .timetable td {
	font-size: 12px;
}
.class_img {
	width: 100%;
}
.class_desc {
	width: 61.5%;
}
ul.list2_class li a,ul.list1_class li a {
	font-size: 0.8125em;
}
ul.list1_class li {
	margin: 0 15px 10px;
}
.blog_grid h3 a {
	font-size: 17px;
}
i.document, i.document1, i.document2, i.document3{
	margin: -81px 0px 0 0px;
}
ul.links_blog h3 a {
	font-size: 20px;
}
ul.links_blog li {
	margin-right: 9%;
}
li.question_right {
	font-size:1em;
}
.form-submit1 input[type="submit"] {
	padding: 10px 15px 10px 5px;
	background: url(../images/submit_arrow.png)no-repeat 170px 12px #E25050;
}
.form-submit1 input[type="submit"]:hover {
	background: url(../images/submit_arrow.png)no-repeat 170px 12px #E25050;
}
ul.btn_contact a {
	padding: 10px 30px;
}
span.m_26 {
	font-size: 17px;
}
.contact_bottom {
	margin-top: -12%;
	margin-right: 12px;
}
.data, .data-middle{
	width: 86.5%;
}
}
@media (max-width:768px){
  .timetable
	{
		display:none;
	}
	.timetable_small
	{
		display: block;
	}
	.facts{
		padding:10px;
	}
	ul.items_list{
		list-style:none;
		padding:0;
		margin-bottom: 4%;
	}
	ul.items_list h3{
		font-size: 18px;
		color: #555;
		margin: 0 0 10px;
		display: inline-block;
		border-bottom: 1px solid #00BFF0;
		padding-bottom: 5px;
	}
	ul.items_list li{
		border-bottom:1px solid #ECECEC;
		padding-bottom:7px;
		margin-bottom:7px;
	}
	ul.items_list li a{
		color:#555;
		font-size:0.8125em;
	}
	ul.items_list p{
		float:left;
		margin:0;
	}
	span.m_31{
		float:right;
		color:#555;
		font-size:0.8125em;
	}
	.logo {
		float: none;
		text-align: center;
	}
	h3.m_4 {
		margin: 4% 0 3%;
	}
	.members {
		padding:2%;
	}
	.btn1 {
		padding: 2% 0;
	}
	h3.m_2 {
		margin:3% 0;
	}
	.blog_events {
		padding: 2%;
	}
	ul.spinning {
		padding: 2%;
	}
	.tab-left1 {
		margin-bottom: 2.5%;
	}
	ul.partner li {
	   margin:0;
	}
	.footer-top {
		width: 80%;
	}
	h4.m_7 {
		margin-bottom: 2%;
	}
	.f-logo {
		padding-bottom: 0%;
		margin: 2% 0;
	}
	p.m_8 {
		margin-bottom: 2%;
	}
	.subscribe {
		margin-bottom: 1%;
	}
	p.m_9 {
		margin-bottom: 1%;
	}
	p.address {
		margin: 0;
	}
	.subscribe1 {
		width: 29%;
	}
	ul.list {
		padding: 0;
	}
	.box1, .box2{
		padding: 2%;
		margin-bottom: 15px;
	}
	.join {
		border-right: 0;
	}
	.join h3, .join-right h3 {
		font-size: 1.5em;
		margin: 0;
	}
	.join h4, .join-right h4 {
		font-size: 1em;
		margin-bottom:0;
	}
	.join p {
		margin: 10px 0 0;
	}
	.btn3 {
		margin: 4% 0 6%;
	}
	ul.price1, ul.price2{
		padding: 2%;
		margin-bottom: 20px;
	}
	ul.price1 h3, ul.price2 h3 {
		margin: 1% 0;
	}
	li.price_but, li.price_but1{
		padding: 1% 0;
		width: 20%;
		margin: 2% auto;
	}
	h2.m_26 {
		margin: 1% 0;
	}
	li.question_left h4 {
		font-size: 1.5em;
	}
	li.question_left p {
		font-size: 0.8125em;
	}
	.contact-top_right p {
		margin:1% 0;
	}
	.contact_hours {
		padding: 2%;
	}
	.contact_bottom {
		margin-top: 20px;
		margin-right: 0;
		width: 99%;
	}
	ul.recent-list, ul.blog-list{
		padding: 2%;
	}
	ul.blog-list h4, ul.recent-list h4 {
		margin-bottom: 2%;
	}
	li.grid2 {
		margin-right: 2%;
	}
	.class_left {
		margin-bottom: 10px;
		width: 42.5%;
	}
}
@media (max-width:640px){
	.header-text p {
		display: none;
	}
	.header-text h1 {
		font-size: 2.5em;
	}
	.banner_btn a {
		font-size: 0.85em;
		padding: 6px 20px;
	}
	.header-text h2 {
		font-size: 1em;
	}
	.banner_btn {
		margin: 20px 0 10px;
	}
	.subscribe1 {
		width: 34%;
	}
	.opening_hours {
		top: 6%;
		width: 37%;
		left: 57%;
	}
}
@media (max-width:480px){
	.header-text h2 {
		display: none;
	}
	.header-text h1 {
		font-size: 2em;
	}
	.subscribe1 {
		width: 45%;
	}
	.btn4 a {
		padding: 6px 15px;
		font-size: 0.8125em;
	}
	h1.m_11 {
		top: -39px;
		font-size: 1.2em;
		padding: 10px 20px;
	}
	.class_left img {
		width: 100%;
		height: 100%;
	}
	.class_desc h5 {
		font-size: 0.85em;
	}
	.cardio_list {
		width: 100%;
		float: none;
		border-right: none;
		padding: 0 0% 0 0;
		margin-right: 0;
	}
	.cardio_list1 {
		width: 100%;
		float: none;
	}
	li.grid1, li.grid2, li.grid3{
		width: 100%;
		float: none;
		margin-right: 0;
		padding-right: 0;
		border-right: none;
	}
	ul.links_blog h3 a {
		font-size: 15px;
	}
	ul.links_blog li a {
		padding-left:7px;
	}
	ul.links_blog li {
		margin-right: 5%;
	}
	span.class_1 {
		display: none;
	}
	.data, .data-middle {
		width: 81.5%;
	}
	ul.twitter_footer li p {
		width: 75.5%;
		margin: 0;
	}
	ul.dc_pagination {
		padding: 0;
	}
	i.document, i.document1, i.document2, i.document3 {
		margin: -101px 0px 0 0px;
	}
	ul.dc_pagination li a {
		padding: 4px 8px 4px 8px;
	}
	#commentform input[type="submit"] {
		padding: 10px 50px;
		font-size: 1em;
	}	
	.to input[type="text"] {
		margin-left: 0px !important;
		width: 100%;
		padding:8px;
		font-size:0.8125em;
	}
	.text {
		float: none;
		width: 100%;
	}
	.text textarea {
		width:100%;
		padding:8px;
		font-size:0.8125em;
	}
	ul.btn_contact a {
		padding: 7px 10px;
		font-size: 0.8125em;
	}
	.contact_bottom h3 {
		font-size: 1.2em;
	}
	ul.btn_contact {
		margin: 38px 0 0;
	}
	.header-arrow a span {
		width: 100px;
		height: 25px;
		background: url(../images/img-sprite.png) no-repeat -325px -421px;
	}
}
@media (max-width:320px){
	.header-text h1 {
		font-size: 1.3em;
		
	}
	.banner_btn a {
		font-size: 0.8125em;
		padding: 3px 5px;
	}
	.header-bottom_left, .social{
		float: none;
	}
	.content_left_text h3 {
		font-size: 1.3em;
	}
	h3.m_2 {
		font-size: 1.5em;
	}
	h3.m_4 {
		margin:5% 0 4%;
		font-size: 1.5em;
	}
	.members p {
		font-size: 0.8125em;
	}
	.btn1 {
		padding: 2% 0 5%;
	}
	.opening_hours {
		top: 3%;
		width: 74%;
		left: 23%;
	}
	ul.twitter_footer li p {
		width: 65.5%;
		margin: 0;
	}
	.subscribe1 {
		width:70%;
	}
	.copy {
		float: none;
	}
	.toggleMenu {
		padding: 5px 15px;
	}
	.about-left-text h2 {
		font-size: 1.3em;
	}
	.login_details {
		width: 100%;
	}
	.btn3 a {
		padding: 7px 25px;
	}
	.p-ww input[type="text"] {
		padding:6px 10px;
		font-size: 0.8125em;
		width: 60%;
	}
	.class_left, .class_right, .class_right1{
		width: 100%;
		float: none;
	}
	.blog_grid h3 a {
		font-size: 13px;
	}
	i.document, i.document1, i.document2, i.document3 {
		margin: -93px 0px 0 0px;
	}
	ul.dc_pagination {
		padding: 0;
		margin-bottom: 20px;
	}
	ul.dc_pagination li a {
		padding: 3px 2px 3px 2px;
		font-size: 12px;
	}
	p.m_16 {
		display:none;
	}
	ul.social_blog h3 {
		margin: 8px 10px 0 0;
	}
	ul.social_blog li {
		margin-right: 0px;
	}
	p.m_17 {
		font-size: 0.8125em;
	}
	.data, .data-middle {
		width: 71.5%;
	}
	#commentform label {
		float: none;
		margin-top: 0;
		margin-right: 0;
		font-size:0.8125em;
	}
	#commentform input[type="text"] {
		padding: 6px 15px;
		width: 100%;
	}
	.data p, .data-middle p{
		font-size: 0.8125em;
		line-height: 1.5em;
	}
	#commentform textarea {
		padding: 10px 15px;
		width: 100%;
		height: 100px;
	}
	h3.m_14 {
		font-size:1.5em;
	}
	li.price_but, li.price_but1 {
		padding: 1% 0;
		width: 32%;
		margin: 2% auto;
		font-size: 0.8125em;
	}
	li.question_left {
		width: 100%;
		float: none;
		margin-right: 0;
	}
	li.question_right {
		font-size: 1em;
		width: 60%;
		float: none;
	}
	.footer-top {
		width: 100%;
	}
	ul.price1 h3, ul.price2 h3, h2.m_25, h2.m_26 {
		font-size: 2em;
	}
	.text {
		float: none;
		width: 100%;
	}
	.to input[type="text"] {
		padding: 5px;
		width: 26%;
	}
	.form-submit1 {
		float: none;
		margin: 0;
	}
	ul.join_text {
		float: none;
		width: 100%;
	}
	ul.btn_contact {
		float: none;
		margin: 15px 0;
	}
	.header-arrow {
		padding: 8% 0 7% 0;
	}
	.banner_btn {
		margin: 10px 0 10px;
	}
	.social {
		float:none;
		text-align:center;
	}
	.to input[type="text"] {
		margin-left: 0px !important;
		width: 100%;
		padding:8px;
		font-size:0.8125em;
	}
	.text {
		float: none;
		width: 100%;
	}
	.text textarea {
		width:100%;
		padding:8px;
		font-size:0.8125em;
	}
	ul.btn_contact a {
		padding: 7px 10px;
		font-size: 0.8125em;
	}
	.contact_bottom h3 {
		font-size: 1.2em;
	}
	ul.btn_contact {
		text-align: center;
		padding: 0;
	}
	ul.partner li img{
		width:100%;
	}
	ul.partner li {
		width: 32%;
	}
	.singe_desc p {
		font-size: 0.8125em;
	}
	ul.partner_blog {
		padding: 0;
	}
	ul.partner_blog li img{
		width:100%;
	}
	ul.partner_blog li {
		width: 31%;
	}
	ul.list1 {
		padding: 0;
	}
	ul.social_blog h3 {
		margin: 10px 8px 0 0;
		font-size: 0.85em;
	}
	ul.comment_head h5 {
		font-size: 1em;
	}
	.register-top-grid div, .register-bottom-grid div {
		width: 100%;
		float: none;
	}
	.course_demo {
		padding: 0 5%;
	}
}
