{% extends "base.html" %}
{% block titulo %}Menu de opciones{% endblock titulo %}

{% block contenido %}
<h1>Accesos directos</h1>
<ul>
  <li><a
    href="/admin/gymadmin/cuotamensual/?pagado__exact=0">Consulta deudas</a></li>
  <li><a href="/admin/gymadmin/persona/add/">Agregar cliente</a></li>
  <li><a href="/admin/">Administracion</a></li>
  <li><a href=".">Limpiar</a></li>

</ul>

<h2>Miembros</h2>
<p>
<form action="." method="POST">
{{ formulario }}
{% csrf_token %}
<input type="Submit" value="Consultar deuda" />
</form>
</p>

{% if not total_deuda %}
<h2>{{ persona.nombre_completo }} no tiene deudas.</h2>
{# TODO: {% elif total_deuda == -1 %} #}

{% elif total_deuda > 0  %}
<h2>{{ lista_vencidos.0.persona }}</h2>
<table border=1 class="timetable">
<tr>
  <td>Actividad</td>
  <td>Vencimiento</td>
  <td>Monto</td>
  <td>A Pagar</td>
</tr>
{% for vencido in lista_vencidos %}
<tr style="text-color: white">
  <td>{{ vencido.persona.actividad }}</td>
  <td>{{ vencido.mes}}</td>
  <td>$ {{ vencido.persona.actividad.costo_mensual}}</td>
  <td><button><a href="{% url 'registrar_pago' idvencido=vencido.id %}">Pagar</a></button></td>
</tr>
{% endfor%}
<tr>
  <td colspan="4">Total deuda: ${{ total_deuda}}</td>
</tr>
</table>

{% endif %}

{% endblock contenido %}

