{% extends "base.html" %}
{% block titulo %}Gestion del Gym{% endblock titulo %}

{% block contenido %}
{% endblock contenido %}
<h1>Deudas a la fecha</h!>
{% if lista_vencidos %}
<table border=1>
<tr>
  <td>Nombre</td>
  <td>Vencimiento</td>
  <td>Monto</td>
</tr>
{% for vencido in lista_vencidos %}
<tr>
  <td>{{ vencido.persona }}</td>
  <td>{{ vencido.mes }}</td>
  <td>{{ vencido.persona.actividad.costo_mensual }}</td>
</tr>
{% endfor %}
</table>
{% else %}
No hay cuentas impagas
{% endif %}
