{% extends "base.html" %}
{% block titulo %}Registrar un pago{% endblock titulo %}

{% block contenido %}
<h2>Registrar pago</h2>
<p>
<form action="." method="POST">
{{ formulario }}
{% csrf_token %}
<input type="Submit" value="Registrar pago" />
</form>
</p>
{% if mes_pagado %} 
<p>
Se pagó: {{ mes_pagado|date:"F Y" }}
</p>

{% if lista_restantes %}
<h3>Deudas a la fecha</h3>
<table border=1 class="timetable">
<tr>
  <td>Actividad</td>
  <td>Vencimiento</td>
  <td>Monto</td>
</tr>
{% for vencido in lista_restantes %}
<tr style="text-color: white">
  <td>{{ vencido.persona.actividad }}</td>
  <td>{{ vencido.mes }}</td>
  <td>$ {{ vencido.persona.actividad.costo_mensual }}</td>
</tr>
{% endfor %}
<tr>
  <td colspan="3">Total deuda: ${{ total_deuda }}</td>
</tr>
</table>

{% endif %}<br />
{% endif %}

{% endblock contenido %}

