holis
{% for e in lista_cuotas %}
{{ e }}
{% endfor %}
caca
<form action="." method="POST">
{% csrf_token %}
{{ form_filtro }}
<input type="submit" />
</form>

caca
			<h1>Número de miembro</h1>
            <p>
            <form>
                <input type="text" />
                <input type="submit" name="hola" value="caca" />
            </form>
        </p>
            <p>hola</p>
			<div class="banner_btn">
				<a href="#">Read More</a>
			</div>
